body{
    background-color: blanchedalmond;
    line-height: 1.7;
}
.navbar{
    display: flex;
    padding: 18px;
    background-color: aliceblue;
    gap: 20px;
    justify-content: center;
}
.container{
    margin: auto;
    padding: 5px;
    max-width: 5000px;
}
.navbar a{
    font-size: medium;
    color: black;
    font-weight: lighter;
    text-decoration: none;
}
h1,h2{
    color: cadetblue;
    justify-content: center;
    margin-bottom: 5px;
}
button{
    padding: 10px 20px;
    background-color:lightblue;
    cursor: pointer;
    color: black;
}
button:hover{
    background-color: lightgreen;
}
img{
    max-width: 100%;
    height: auto;
}
@media  (max-width: 768px) {
    .navbar{
        flex-direction: column;
        gap: 10px;
    }
}
.footer{
    text-align: center;
    padding: 15px;
    background-color: aliceblue;
    margin-top: 30px;
    font-size: 14px;
}